<div class="container" [ngClass]="{'expanded': isExpanded}">
  <div class="searchbar">
    <input [(ngModel)]="movieTitle" placeholder="Enter movie title" />
    <i (click)="searchMovie()" class="fa-solid fa-magnifying-glass fa-xs fa-beat"></i>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    <h1>{{ errorMessage }}</h1>
  </div>

  <div class="content" *ngIf="movieData">
    <section class="left">
      <h2>{{ movieData.Title }} ({{ movieData.Year }})</h2>
      <img [src]="movieData.Poster" alt="{{ movieData.Title }}" />
    </section>
    <section class="right">
      <p><strong>Genre:</strong> {{ movieData.Genre }}</p>
      <p><strong>Director:</strong> {{ movieData.Director }}</p>
      <p><strong>Actors:</strong> {{ movieData.Actors }}</p>
      <p><strong>Plot:</strong> {{ movieData.Plot }}</p>
      <p><strong>Language:</strong> {{ movieData.Language }}</p>
      <p><strong>Country:</strong> {{ movieData.Country }}</p>
      <p><strong>Awards:</strong> {{ movieData.Awards }}</p>
      <p><strong>IMDb Rating:</strong> {{ movieData.imdbRating }}</p>
      <p><strong>Metascore:</strong> {{ movieData.Metascore }}</p>
      <p><strong>Runtime:</strong> {{ movieData.Runtime }}</p>
      <p><strong>Released:</strong> {{ movieData.Released }}</p>
      <p><strong>Rated:</strong> {{ movieData.Rated }}</p>
    </section>
  </div>
</div>